<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="bg">

        <img src="http://quickhoney.com/image/BPix-Skalitzer-2_ani2_1?fbclid=IwAR0bkuVE9EjzP3kO4Tg6rWAgLhzC1Y1q0YNsuYKxKhyE-2bnHFRyul23U-w" width="100%" height="275">
    </div>




        <h1>Ban cars.</h1>

        {{{body}}}



    
        <script type="text/javascript" src="/script.js"></script>



    </body>
</html>
