<h1>nothing really matters that much but ok</h1>
<p>this describes my petition</p>

<form >
    <input type="text" name="First Name" value="First Name">
    <input type="text" name="Last Name" value="Last Name">
    <input type="hidden" id="signInput">
    <canvas id="canvas" width="400" height="150"></canvas>
    <button type="button" id="sign">sign</button>

</form>
