<h1>nothing really matters that much but ok</h1>
<p>this describes my petition</p>



{{#error}}

 <h2> INPUT MISSING </h2>

{{/error}}

<form method= "POST">

    <input type="text" name="firstName" value={{firstName}}>
    <input type="text" name="lastName" value={{lastName}}>
    <input type="hidden" name= "signature" id="signInput">
    <canvas id="canvas" width="400" height="150"></canvas>
    <input name='_csrf' type='hidden' value='{{csrfToken}}'>
    <button type="submit" id="sign">sign</button>

</form>
