<h2>Please use your mouse to sign on the field</h2>


{{#error}}

 <h2> INPUT MISSING </h2>

{{/error}}

<form method= "POST">
<!--Part 3: change template to no longer allow users input first and last name -->

<!--<input type="text" name="firstName" value={{firstName}}>
    <input type="text" name="lastName" value={{lastName}}> -->
    <input type="hidden" name= "signature" id="signInput">
    <canvas id="canvas" width="400" height="150"></canvas>
    <input name='_csrf' type='hidden' value='{{csrfToken}}'> <br>
    <button type="submit" id="sign">sign</button>

</form>
