<h1>Profile</h1>

{{#if somethingWrong}}

<h2 class="error"> Ooops! something went wrong! </h2>

{{/if}}

<form method="POST">

    <input type="text" name="" value="" placeholder="age">
    <input type="text" name="" value="" placeholder="city">
    <!-- type url makes sure it is an url that's been given-->
    <input type="url" name="" value="" placeholder="homepage">

</form>
