

<h3 id='description'>Cars suck. Car drivers suck. <br> Cars affect the environment. Cars create accidents. <br> Join this petition and enjoy a Berlin free of smoke, assholes... <br> and full of happy bikers.</h3>

<h2>please register</h2>
<!--Conditional Rendering -->
{{#if somethingWrong}}

<h2 class="error"> Ooops! something went wrong! </h2>

{{/if}}


<form method="POST">

<input type="text" name="firstName" placeholder="first name" value="">

<input type="text" name="lastName" placeholder="last name" value="">

<input type="text" name="eMail" placeholder="e-mail" value="">

<input type="text" name="password" placeholder="password" value="">

<input name='_csrf' type='hidden' value='{{csrfToken}}'>

<button type="submit">SIGN UP</button>
</form>
<p class="offer-login">Already member? Please <a href="/login">Log In </a></p>
