<h2>please register</h2>
<form method="POST">

<input type="text" name="firstName" value="">

<input type="text" name="lastName" value="">

<input type="text" name="eMail" value="">

<input type="text" name="password" value="">

<button type="submit">SIGN UP</button>
</form>
