<h2>danke </h2>

{{#signImg}}

<img src={{signature}} alt="" id="signImg">

{{/signImg}}

<p> All
         <a href="/signers">
             these people
         </a>
also hate cars.     </p>

<p> You can edit your profile info
         <a href="/profile/edit">
            right here.
         </a>
     </p>

<p>If you change your mind, click "unsign" below and never come back.</p>
    <form method="POST">
        <button name="button">UNSIGN</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
<br><br><br><br><br><br><br><br><br><br><br><br> <br> 
<a class="h" id="logout" href="/logout">LOGOUT</a>
