* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#bg {
  z-index: -999;

  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

body {
  font-family: "Quantico", sans-serif;

  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

#description {
  font-size: 30px;
}
form {
}
input {
}

canvas {
  z-index: 10;
  background: white;
  border: 1px solid blue;
}
button {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 60px;
  color: rebeccapurple;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

h2 {
  color: blue;
}

#signImg {
  width: 400px;
  height: 150px;
  position: relative;
  left: 40%;
}
